[submodule "ZLToolKit"]
	path = 3rdpart/ZLToolKit
	url = https://github.com/4e4o/ZLToolKit.git
[submodule "3rdpart/media-server"]
	path = 3rdpart/media-server
	url = https://github.com/4e4o/media-server.git
